<p>
  <strong>id:</strong>
  <%= @source.id %>
</p>
 
<p>
  <strong>Field1:</strong>
  <%= @source.field1  %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @source.field2 %>
</p>

<p>
  <strong>Field3:</strong>
  <%= @source.field3 %>
</p>

<p>
  <strong>Field4:</strong>
  <%= @source.field4 %>
</p>

<p>
  <strong>field5:</strong>
  <%= @source.field5 %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @source.quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @source.amount %>
</p>

<%= link_to 'Back', sources_path %>
