<p>
  <strong>id:</strong>
  <%= @collateral.id %>
</p>
 
<p>
  <strong>Field1:</strong>
  <%= @collateral.field1  %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @collateral.field2 %>
</p>

<p>
  <strong>Field3:</strong>
  <%= @collateral.field3 %>
</p>

<p>
  <strong>Field4:</strong>
  <%= @collateral.field4 %>
</p>

<p>
  <strong>field5:</strong>
  <%= @collateral.field5 %>
</p>

<p>
  <strong>Margin Type:</strong>
  <%= @collateral.margintype %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @collateral.quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @collateral.amount %>
</p>

<%= link_to 'Back', collaterals_path %>
