<h1>Listing all Available Collateral</h1>

<table>
  <tr>
    <th>Id</th>
    <th>field1</th>
    <th>field2</th>
    <th>field3</th>
    <th>field4</th>
    <th>field5</th>
    <th>Margin Type </th>
    <th>quantity</th>
    <th>amount</th>
    <th>collateralallocquantity</th>
    <th>compare fields</th>
  </tr>

  <% @vavailablecollaterals.each do |vavailablecollateral| %>
    <tr>
      <td><%= vavailablecollateral.id %></td>
      <td><%= vavailablecollateral.field1 %></td>
      <td><%= vavailablecollateral.field2 %></td>
      <td><%= vavailablecollateral.field3 %></td>
      <td><%= vavailablecollateral.field4 %></td>
      <td><%= vavailablecollateral.field5 %></td>
      <td><%= vavailablecollateral.margintype %></td>
      <td><%= vavailablecollateral.quantity %></td>
      <td><%= vavailablecollateral.amount %></td>
      <td><%= vavailablecollateral.collateralallocquantity %></td>
      <td><%= vavailablecollateral.comparefield %></td>
    </tr>
  <% end %>

</table>
