<p>
  <strong>id:</strong>
  <%= @allocsource.id %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @allocsource.allocationdate  %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @allocsource.allocationrunseq %>
</p>

<p>
  <strong>Source ID:</strong>
  <%= @allocsource.source_id %>
</p>

<p>
  <strong>Source Qty:</strong>
  <%= @allocsource.sourceallocquantity %>
</p>

<p>
  <strong>Collateral ID:</strong>
  <%= @allocsource.collateral_id %>
</p>

<p>
  <strong>Collateral Qty:</strong>
  <%= @allocsource.collateralallocquantity %>
</p>

<%= link_to 'Back', allocsources_path %>
